<%- layout('layout/Boilerplate.ejs') %>
<body >
    <form action="/signup" method="post" class="needs-validation mt-5" novalidate>
        <div class="col-4">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" required placeholder="Robert kiosaki">
            <div class="invalid-feedback">
                Please choose a username.
              </div>
        </div>
        <div class="col-4">
            <label for="email" class="form-label">email</label>
            <input type="email" name="email" id="email" class="form-control" required placeholder="robertkiosaki@gmail.com">
            <div class="invalid-feedback">
                Please choose a gmail.
              </div>
        </div>
        <div class="col-4">
            <label for="password" class="form-label">password</label>
            <input type="password" name="password" id="password" class="form-control" required placeholder="choose strong password">
            <div class="invalid-feedback">
                Please choose a password.
              </div>
        </div>
        <button class="btn btn-secondary mt-3">Submit</button>
    </form>
</body>
<script src="/script/script.js"></script>
